body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-image: url("./assets/baseBg.png");
  background-size: 100%;
}
h2 {
  text-align: center;
  color: purple;
}
.search-container {
  text-align: center;
}
#contents {
  text-decoration: none;
  color: white;
  background: black;
}
#contents:hover {
  text-decoration: none;
  color: purple;
}
#next-page, #prev-page {
  margin: 5px;
  padding: 2px;
  color: white;
}
#next-page:hover, #prev-page:hover {
  cursor: pointer;
  color: purple;
  margin: 5px;
  padding: 2px;
}
#current-page {
  font-weight: bold;
  color: white;
}
#search-input {
  text-align: center;
  font-size: 15px;
  height: 20px;
  width: 15%;
  margin-bottom: 10px;
}
#search-btn {
  font-size: 15px;
  height: 25px;
  width: 80px;
  margin-bottom: 10px;
}
#count-page {
 margin: auto;
 position: relative;
 width: 50%;
}
#page-container {
  float: right;
  right: 0px;
}
#result-container {
  text-align: left;
  margin: auto;
  height: 900px;
  width: 75%;
}
#stream-contents {
  border: 2px solid purple;
  border-radius: 2%;
  height: 15%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
#stream-name {
  font-weight: bold;
  margin-left: -10px;
  font-size: 20px;
  font-style: bold;
}
#stream-image {
  margin-right: 15px;
  border-radius: 5%;
  width: 20%;
  height: 100%;
  float: left;
}
#stream-game, #stream-viewers, #stream-desc, #stream-count {
  font-size: 20px;
  margin-top: 20px;
}
#stream-count {
  color: white;
}
#no-results {
  color: red;
  margin-left: 37%;
}