h2 {
  text-align: center;
}
#tag {
  text-decoration: none;
  color: black;
}
#tag:hover {
  text-decoration: none;
  color: purple;
}
.search-container {
  text-align: center;
}
#next-page, #prev-page {
  border: 1px solid black;
  margin: 1px;
  padding: 2px;
}
#search-input {
  text-align: center;
  font-size: 15px;
  height: 20px;
  width: 15%;
}
#search-btn {
  font-size: 15px;
  height: 25px;
  width: 80px;
}
#count-page {
 margin: auto;
 position: relative;
 width: 50%;
}

#count-container {
}

#page-container {
  float: right;
  right: 0px;
}

#result-container {
  text-align: left;
  margin: auto;
  height: 900px;
  width: 75%;
}

#stream-contents {
  border: 2px solid purple;
  height: 15%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

#stream-name {
  overflow: hidden;
  margin-left: -10px;
  font-size: 25px;
  font-style: bold;
}

#stream-image {
  margin-right: 15px;
  width: 20%;
  height: 100%;
  float: left;
}

#stream-game, #stream-viewers, #stream-desc, #stream-count {
  font-size: 20px;
}
